<!DOCTYPE html>
<html>
<head>
    <title>Cardinals Ticket Tracking App</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/index.css') }}">
</head>
<body>

<form method="POST" action="/">
    {{ form.hidden_tag() }}

    <label for="query">{{ form.query.label }}</label>
    {{ form.query() }}

    {{ form.submit() }}
</form>

    <table id="db_cols">
        <tr>
            {% for table in table_list %}
                <th>{{ table }}</th>
            {% endfor %}
        </tr>
        {{ table_html_vals }}
    </table>
</body>
</html>